*{
  box-sizing: border-box;
}
.main{
  width: 86%;
  height: 95%;
  background:rgba(220,209,193,0.7105);
  display: flex;
}
.menu{
  width: 20%;
  height: 100%;
  border-right: 1px solid rgba(202,9,21,0.253);;
}

.options{
  list-style-type: none;
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.options li{
  list-style-type: none;
  color: #fff;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 25px;
  overflow: hidden;
}
.menu_content{
  width: 80%;
  height: 100%;
  overflow:hidden;
}
.menu_content ul{
  list-style-type: none;
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-items: flex-start;
  margin: 0px;
}
.menu_content ul li{
  list-style-type: none;
  width: 30%;
  height: 40%;
  background:rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 8px 2px 8px 23px;/*上右下左*/

}
.image{
  width: 100%;
  height: 100%;
}
.image img{
  width: 100%;
  height: 100%;
}
.desc{
  height: 40px;
  width: 100%;
  position: relative;
  color: #fff !important;
  background:rgba(0,0,0,0.6);
  filter:blur(0px);
  top: -40px;
}
.whichOption1{
  background:rgba(203,9,21,1);
}
.whichOption2{
  background: rgba(203,9,21,0.6056);
}
.rightItem{
  border: 2px solid rgba(203,9,21,0.6089) ;
}

.A0{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.A0 span{
  margin: 0 6%;
}
.A1{
  height: 100%;
  display: flex;
  font-size: 13px;
  overflow: hidden;
}
.A1 span{
  //overflow-x: scroll;
  white-space: nowrap;
  display: block;
  text-overflow:ellipsis;
  overflow: hidden;
  margin-left: 4.5%;
  //overflow-y: hidden;
}
::-webkit-scrollbar {
  display: none;
}

.loading{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0;
  left: 0;
}
.isDownScroll{
  overflow-y: hidden;
}


