<template>
    <div class="detail">
        <div class="left">
          <div class="default_img">
              <img :src="data!=undefined&&data.defaultImage!=undefined&&data.defaultImage.internalImageId!=undefined&&imgList!=''?imgList.data[data.defaultImage.internalImageId].internal_image_url:require('../assets/default.jpg')"/>
          </div>
          <div class="list_img">
            <span class="list_img_title" v-show="relatedMerchandiseData.length!=0">{{defaultLanguage=='zh-cn'?'推荐搭配':'Better with'}}</span>
            <ul class="list_img_content ">
              <li v-for="(item,index) in relatedMerchandiseData" >
                <div class="item_img" :class="{focus:selectIndex==index}">
                  <img :src="item.defaultImage!=undefined&&item.defaultImage.internalImageId!=undefined&&imgList!=''?imgList.data[item.defaultImage.internalImageId].internal_image_url:require('../assets/default.jpg')"/>
                </div>
                <div class="item_desc">
                  <span class="item_desc_title">{{item.translates!=undefined?item.translates[defaultLanguage].title:'empty content'}}</span><span class="item_desc_title">${{item.defaultPriceInMill!=undefined?item.defaultPriceInMill/1000:'000'}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="right">
          <div class="goods_title">
              <span class="left_title">{{data!=undefined&&data.translates!=undefined?data.translates[defaultLanguage].title:'empty title'}}</span>
              <span class="right_price">￥{{data!=undefined&&data.defaultPriceInMill!=undefined?data.defaultPriceInMill/1000:'000'}}</span>
          </div>
          <div class="goods_desc" ref="description" >
             <span>{{data!=undefined&&data.translates!=undefined?data.translates[defaultLanguage].description:'empty desc'}}</span>
          </div>
          <div class="goods_buy">
                <div class="goods_count">
                  <div class="reduce" :class="{focus:selectIndex==relatedMerchandiseData.length}">
                    <span>-</span>
                  </div>
                  <div class="number">{{count}}</div>
                  <div class="add" :class="{focus:selectIndex==relatedMerchandiseData.length+1}">
                    <span>+</span>
                  </div>
                </div>
                <div class="goods_to_cart" :class="{focus:selectIndex==relatedMerchandiseData.length+2}" @click="addToCart(undefined)">
                  {{defaultLanguage=='zh-cn'?'添加至购物车':'add to cart'}}
                </div>
          </div>
          <hr style="width: 95%;margin-left: 0;margin-top: 15px">
          <div class="brief">
            <span class="brief_title" v-show="data!=undefined&&data.defaultImage!=undefined&&data.defaultImage.message!=undefined">{{defaultLanguage=='zh-cn'?'简介':'Brief'}}</span>
            <div class="brief_content">
              {{data!=undefined&&data.defaultImage!=undefined&&data.defaultImage.message!=undefined?data.defaultImage.message:message}}
            </div>
          </div>
          <div class="dialog_cart" v-if="cartSeen">
            <cart_dialog :cart_dialog_data="cart_dialog_data" ></cart_dialog>
          </div>
          <div class="dialog_shopping"  v-if="shopSeen" >
            <success_dialog :shopSeen="shopSeen" :spointer="spointer" :ecode="ecode"></success_dialog>
          </div>
        </div>
    </div>
</template>

<script>
  import cart_dialog from '@/components/dialog/cart_dialog'
  import success_dialog from '@/components/dialog/success_dialog'
  import Vue from 'vue'
    export default {
        name: "Detail",
      components:{
        cart_dialog,success_dialog
      },
        data(){
          return{
            cartSeen:false,
            shopSeen:false,
            count:1,
            selectIndex:-1,
            ecode:-1,
            isAdd:-1,//1表示发送请求 -1不发送
            cStatus:-1,
            id:-1,
            data:undefined,
            defaultLanguage:this.$defaultLanguage,//默认语言
            imgList:'',//图片集合
            spointer:1,
            relatedMerchandiseData:[],//相关商品链接
            cart_dialog_data:{},//商品属性数据
            epointer:0,  //用于监听数据变化cart_dialog_data的标记
            message:'',
          }
        },
      methods:{
        goBack(){
          if(this.cartSeen==true||this.shopSeen==true){
            this.cartSeen=this.shopSeen=false;
            this.bindKeyDown();
          }else{
            this.$router.go(-1);
          }
        },

        addToCart(params=[]){
          this.$http.post(this.$global.URL+'/cart/?'+this.$params,{
            quantity:this.count,lang_agnostic_id:this.data.langAgnosticId,selected:1,variants:params,note:'no'}).then(data=>{
            if(data.status==200){
              this.cartSeen=false;
              this.shopSeen=true;
            }
          });
        },
        loadData(){
          this.relatedMerchandiseData=[];
          this.$http.get(this.$global.URL+'/page/'+this.id+'?'+this.$params).then(data=>{
            if(data.data.ret==200){
              this.data=data.data.data;
              if(this.data.variantData.optionGroups!=undefined){
                this.cart_dialog_data=this.data;
                this.pPointer=this.cart_dialog_data.variantData.optionGroups.length;
                this.cart_dialog_data.variantData.optionGroups.filter((item,index)=>{
                  if(item.options!=undefined){
                    item.options.filter((citem,cindex)=>{
                      cindex==0?citem.hasFocus=true:citem.hasFocus=false;
                    })
                  }
                });
              }
              if(data.data.data.relatedMerchandiseIds!=undefined && data.data.data.relatedMerchandiseIds.length!=0){
                this.$http.get(this.$global.URL+'/page/batch/?page_id='+data.data.data.relatedMerchandiseIds.toString()+'&'+this.$params)
                  .then(data=>{
                    console.log(data.data.data);
                    this.relatedMerchandiseData=data.data.data;
                    this.selectIndex=this.relatedMerchandiseData.length+2;//焦点默认为place holder
                  });
              }
            }
          });
          this.selectIndex=this.relatedMerchandiseData.length+2;//焦点默认为place holder
        },
        bindKeyDown(){
          const self=this;
          this.$nextTick(()=>{
            document.onkeydown=(e)=>{
              console.log(e.keyCode);
              switch (e.keyCode) {
                case 13: //enter
                  if(self.selectIndex!=self.relatedMerchandiseData.length+2&&self.cartSeen==false&&self.shopSeen==false){
                    if(self.selectIndex==self.relatedMerchandiseData.length+1){//焦点在加号上面,商品数量自加1
                      self.count++;
                    }else if(self.selectIndex==self.relatedMerchandiseData.length){//焦点在减号上面,商品数量自减1
                      self.count>1?self.count--:'';
                    }else{
                      self.id=self.relatedMerchandiseData[self.selectIndex].id;
                      self.loadData();
                    }
                    return false;
                  }
                  //判断商品是否拥有属性,拥有则开启属性对话框,否则直接添加至购物车
                  if (self.data.variantData.optionGroups == undefined&&self.cartSeen==false && self.shopSeen==false) {
                    if(self.selectIndex==self.relatedMerchandiseData.length+2)
                      self.addToCart();//添加至购物车成功后,显示成功对话框
                  }else if(self.data.variantData.optionGroups !=undefined && self.cartSeen==false&& self.shopSeen==false){
                       self.cartSeen=true;
                  }
                  break;
                case 37://left
                  if(self.cartSeen==false&&self.shopSeen==false){
                    self.selectIndex>0?self.selectIndex--:'';
                    return false;
                  }

                  break;
                case 39://right
                  if(self.cartSeen==false&&self.shopSeen==false){
                    self.selectIndex<self.relatedMerchandiseData.length+2?self.selectIndex++:'';
                    return false;
                  }
                  break;
                case 40://pc down
                  break;
                case 29460:
                case 38://pc up
                  break;
                case 10009://tv return
                  if(self.cartSeen==false && self.shopSeen==false){
                  }else{
                    self.cartSeen=false;
                    self.shopSeen=false;
                  }
                  return true;
                  break;
              }
            };
          });
        }
      },
      created(){
        this.imgList=localStorage.imgList!=undefined?JSON.parse(localStorage.imgList):'';
        this.count=1;
        this.id=this.$route.params.id!=undefined?this.$route.params.id:Vue.prototype.$gid;
        this.loadData();
        this.bindKeyDown();
      },
      mounted(){
        window.goBack=this.goBack;
      },
      updated(){
        this.$nextTick(()=>{
          if(this.$refs.description.offsetHeight<this.$refs.description.getElementsByTagName('span')[0].offsetHeight){
            this.$refs.description.getElementsByTagName('span')[0].classList.add('animateUp');
          }
        })
      },
      destroyed(){
          Vue.prototype.$gid=this.id;
      }
    }
</script>

<style scoped>
  *{
    box-sizing: border-box;
  }
  .detail{
    width: 86%;
    height: 95%;
    background:rgba(220,209,193,0.7051000000000001);
    display: flex;
    color:rgba(43,43,43,1) !important;
  }
  .left{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .default_img{
     width: 80%;
     height: 60%;
     margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .default_img img{
    width: 100%;height: auto;
  }
.list_img{
  width: 80%;
  height: 23%;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
 .list_img_content{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
   height: 100%;
   display: flex;
   justify-content: flex-start;

}
  .list_img_content li{
    list-style-type: none;
    padding: 0;
    width: 31%;
    height: auto;
    overflow: hidden;
    margin: 5px;
  }
 .list_img_title{
    font-size:18px;
    line-height:19px;
   margin-bottom: 5px;
  }
.item_img{
  width: 100%;
  height: 100%;
}
  .item_img img{
    width: 100%;
    height: 100%;
  }
.item_desc{
  width: 100%;
  height: 25px;
  position: relative;
  top: -25px;
  background:rgba(0,0,0,0.6);
  filter:blur(0px);
  font-size:11px;
  color:rgba(179,179,179,1);
  display: flex;
  align-items: center;
  justify-content:space-around;
}

  .right{
    width: 60%;
    height: 100%;
  }
.goods_title{
  margin-top: 30px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  font-size:30px;
}
  .goods_desc{
    width: 85%;
    height: 160px;
    margin-top: 4px;
    overflow:hidden;
  }
  .goods_desc span{
    font-size:20px;
    text-align: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .goods_buy{
    width: 85%;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
  }
  .goods_to_cart{
    width:179px;
    height:65px;
    border-radius:5px;
    font-size:26px;
    font-weight:500;
    line-height:27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(202,9,21,0.2992);
    border-radius:5px;
    color:rgba(255,255,255,1) !important;
  }
  .goods_count{
    width: 240px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius:5px;
    opacity:0.6;
    /*border:2px solid rgba(202,11,23,1);*/
  }
  .goods_count div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reduce,.add{
    width: 63px;
    color: #333333;
    border:2px solid #333333;
  }
  .reduce span,.add span{
    /*color:rgba(202,11,23,1);*/
    font-size:28px;
  }
  .number{
    flex: 1;
    font-size:28px;
    color: #333333;
    border-top:2px solid #333333;
    border-bottom: 2px solid #333333;
  }
  .divider{
    width:800px;
    height:1px;
    margin:0px auto;
    padding:0px;
    overflow:hidden;
  }
  .brief{
     width: 85%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .brief_title{
    font-size:30px;
    margin-top: 8px;
  }
  .brief_content{
    height: auto;
    font-size:20px;
    text-align: left;
    overflow-y: scroll;
  }
  .dialog_cart,.dialog_shopping{
    width:49%;
    height:67%;
    position: absolute;
    top:16%;
    left: 30%;
    background:rgba(255,255,255,1);
  }
  .focus{
    border:2px solid rgba(202,9,21,1);
  }

  /*隐藏滚动条*/
  ::-webkit-scrollbar {
    display: none;
  }
</style>
