<template>
  <div class="main">
    <div class="loading" v-if="ldshow">
      <img src="../assets/loading.gif"/>
    </div>
    <div class="menu">
      <ul class="options" :class="{isDownScroll:contentSelected!=-1}" ref="options">
        <li ref="oItem"  v-for="(item,index) in menuOptions"  v-bind:class="{whichOption1:contentSelected==-1 && index==selectIndex,whichOption2:contentSelected!=-1&&index==selectIndex,animate:islScroll(index)}"><span>{{item}}</span></li>
      </ul>
    </div>
    <div class="menu_content">
      <ul ref="menu_content">
        <li v-for="(item,index) in data" :class="{rightItem:index==contentSelected}">
          <div class="image">
            <img :src="item.defaultImage.internalImageId!=undefined&&imgList!=''?imgList.data[item.defaultImage.internalImageId].internal_image_url:require('../assets/default.jpg')"/>
          </div>
          <div class="desc">
              <div class="A0">
                <span>{{item.translates[$defaultLanguage].title}}</span>
                <span>￥{{item.defaultPriceInMill/1000}}</span>
              </div>
              <!--<div class="A1" :class="{animate:isScroll(index)}" ref="desc">-->
              <div class="A1"  ref="desc">
                <span >{{item.translates[$defaultLanguage].description}}</span>
              </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  export default {
    name: "MainV1",
    data(){
      return{
        menuOptions:['Main Course','Wine','Desset','Whisky','Coffee','Soft Drink'],
        selectIndex:0,//左侧菜单项指针
        scrollPos:5,
        contentSelected:-1,//右侧菜单分类内容
        data0:[],
        odata:'',
        data:[
        ],
        data1:[
          // {img:'http://www.bkchina.cn/website/images/product/24.png',title:'汉堡111'},
          // {img:'http://www.bkchina.cn/website/images/product/27.png',title:'超值套餐111'},
          // {img:'http://www.bkchina.cn/website/images/product/28.png',title:'早餐11'},
          // {img:'http://www.bkchina.cn/website/images/product/25.png',title:'小食111'},
          // {img:'http://www.bkchina.cn/website//productimage/58102ee9cfd51.png',title:'甜品111'},
          // {img:'http://www.bkchina.cn/website/productimage/mt_s.png',title:'饮料111'},
          // {img:'http://www.bkchina.cn/website/images/product/25.png',title:'小食111'},
          // {img:'http://www.bkchina.cn/website//productimage/58102ee9cfd51.png',title:'甜品111'},
          // {img:'http://www.bkchina.cn/website/productimage/mt_s.png',title:'饮料111'}
        ],
        data2:[
          // {img:'http://www.bkchina.cn/website/images/product/24.png',title:'汉堡222'},
          // {img:'http://www.bkchina.cn/website/images/product/27.png',title:'超值套餐222'},
          // {img:'http://www.bkchina.cn/website/images/product/28.png',title:'早餐222'},
          // {img:'http://www.bkchina.cn/website/images/product/25.png',title:'小食'},
          // {img:'http://www.bkchina.cn/website//productimage/58102ee9cfd51.png',title:'甜品222'},
          // {img:'http://www.bkchina.cn/website/productimage/mt_s.png',title:'饮料222'},
          // {img:'http://www.bkchina.cn/website/images/product/25.png',title:'小食222'},
          // {img:'http://www.bkchina.cn/website//productimage/58102ee9cfd51.png',title:'甜品222'},
          // {img:'http://www.bkchina.cn/website/productimage/mt_s.png',title:'饮料222'}
        ],
        data3:[
          // {img:'http://www.bkchina.cn/website/images/product/24.png',title:'汉堡333'},
          // {img:'http://www.bkchina.cn/website/images/product/27.png',title:'超值套餐333'},
          // {img:'http://www.bkchina.cn/website/images/product/28.png',title:'早餐333'},
          // {img:'http://www.bkchina.cn/website/images/product/25.png',title:'小食333'},
          // {img:'http://www.bkchina.cn/website//productimage/58102ee9cfd51.png',title:'甜品333'},
          // {img:'http://www.bkchina.cn/website/productimage/mt_s.png',title:'饮料33'},
          // {img:'http://www.bkchina.cn/website/images/product/25.png',title:'小食333'},
          // {img:'http://www.bkchina.cn/website//productimage/58102ee9cfd51.png',title:'甜品333'},
          // {img:'http://www.bkchina.cn/website/productimage/mt_s.png',title:'饮料333'}
        ],
        data4:[
          // {img:'http://www.bkchina.cn/website/images/product/24.png',title:'汉堡4444'},
          // {img:'http://www.bkchina.cn/website/images/product/27.png',title:'超值套餐444'},
          // {img:'http://www.bkchina.cn/website/images/product/28.png',title:'早餐444'},
          // {img:'http://www.bkchina.cn/website/images/product/25.png',title:'小食44'},
          // {img:'http://www.bkchina.cn/website//productimage/58102ee9cfd51.png',title:'甜品44'},
          // {img:'http://www.bkchina.cn/website/productimage/mt_s.png',title:'饮料44'},
          // {img:'http://www.bkchina.cn/website/images/product/25.png',title:'小食44'},
          // {img:'http://www.bkchina.cn/website//productimage/58102ee9cfd51.png',title:'甜品44'},
          // {img:'http://www.bkchina.cn/website/productimage/mt_s.png',title:'饮料44'}
        ],
        data5:[
          // {img:'http://www.bkchina.cn/website/images/product/24.png',title:'汉堡55'},
          // {img:'http://www.bkchina.cn/website/images/product/27.png',title:'超值套餐55'},
          // {img:'http://www.bkchina.cn/website/images/product/28.png',title:'早餐55'},
          // {img:'http://www.bkchina.cn/website/images/product/25.png',title:'小食55'},
          // {img:'http://www.bkchina.cn/website//productimage/58102ee9cfd51.png',title:'甜品55'},
          // {img:'http://www.bkchina.cn/website/productimage/mt_s.png',title:'饮料55'},
          // {img:'http://www.bkchina.cn/website/images/product/25.png',title:'小食55'},
          // {img:'http://www.bkchina.cn/website//productimage/58102ee9cfd51.png',title:'甜品55'},
          // {img:'http://www.bkchina.cn/website/productimage/mt_s.png',title:'饮料555'}
        ],
        $defaultLanguage:this.$defaultLanguage,
        imgList:'',
        test:'',
        ref:undefined,
        pos:0,
        ldshow:false,
        allImgLength:0,
        loadLength:0,
        pageLoad:false,
        step:14
      }
    },
    created(){
      this.data0=this.data;
      var _this=this;
      localStorage.imgList!=undefined?this.imgList=JSON.parse(localStorage.imgList):'';
      _this.menuOptions=[];
      /*this.$http.get(this.$global.URL+'/page/'+this.$pageId+'?'+this.$params).then(data=>{
        if(data.data.ret==200){
          // console.log(data.data.data.merchandiseCategory.merchandiseCategoryLangAgnosticId);
          _this.$http.get(this.$global.URL+'/page/search/?'+this.$params+'&page_type=merchandise_category&lang_agnostic_id='+data.data.data.merchandiseCategory.merchandiseCategoryLangAgnosticId).then(data=>{
            // console.log( data.data.data.merchandiseCategoryIds.toString());
            _this.$http.get(this.$global.URL+'/page/batch/?page_id='+data.data.data.merchandiseCategoryIds.toString()+'&'+this.$params).then(data=>{
              data.data.data.forEach((item,index)=>{
                _this.menuOptions.push(item.translates[this.$defaultLanguage].title);
              });
              _this.odata=data;
              _this.getContent(data.data.data[_this.selectIndex].id);
            });
          });
        }
      });*/

      this.$global.httpGetRequest('/page/' + this.$pageId, data => {
      }, error => {
      })
        .then(data => {
          if (data.data.ret == 200) {
            return this.$global.httpGetRequest('/page/search/', '&page_type=merchandise_category&lang_agnostic_id=' + data.data.data.merchandiseCategory.merchandiseCategoryLangAgnosticId, data => {
            }, error => {});
          }
        })
        .then(data => {
          return this.$global.httpGetRequest('/page/batch/', 'page_id=' + data.data.data.merchandiseCategoryIds.toString(), data => {
          }, error => {});
        }).then(data => {
        data.data.data.forEach((item, index) => {
          _this.menuOptions.push(item.translates[this.$defaultLanguage].title);
        });
        _this.odata = data;
        if(this.$mIndex!=undefined){
          _this.selectIndex=this.$mIndex;
          this.$nextTick(()=>{
            this.$refs.options.scrollTop=this.step*this.selectIndex;
          })
          Vue.prototype.$mIndex=undefined;
        }
        _this.getContent(data.data.data[_this.selectIndex].id);
      });
      const self=this;
      this.$nextTick(()=>{

        document.onkeydown=function (e) {
          self.test=e.keyCode;
          switch (e.keyCode) {
            case 13:
              self.contentSelected!=-1?self.toDetail():'';
              break;
            case 39://right
            case 5://right
              //右键功能 返回是否记录
              self.contentSelected<self.data.length-1?(Vue.prototype.$contentSelected!=undefined?(self.contentSelected=Vue.prototype.$contentSelected,Vue.prototype.$contentSelected=undefined):self.contentSelected++):'';
              break;
            case 37://left
            case 4://left
              self.contentSelected>-1&&self.contentSelected%3==0?(Vue.prototype.$contentSelected=self.contentSelected,self.contentSelected=-1):self.contentSelected--;
              break;
            case 8:
           //   self.goBack();
              break;
            case 40://pc down
            case 29461://down
              //向下移动左侧菜单分类项
              // self.contentSelected==-1&&self.selectIndex<self.menuOptions.length-1?(Vue.prototype.$contentSelected=undefined,self.selectIndex++,self.$refs.options.scrollTop=self.step*self.selectIndex,self.getContent(self.odata.data.data[self.selectIndex].id)):'';
              if(self.contentSelected==-1&&self.selectIndex<self.menuOptions.length-1){
                Vue.prototype.$contentSelected=undefined;
                self.selectIndex++;
                self.selectIndex>11?self.$refs.options.scrollTop=self.step*self.selectIndex:'';
                self.getContent(self.odata.data.data[self.selectIndex].id);
              }
              /*if(self.contentSelected==-1 && self.selectIndex<self.menuOptions.length-1){
                self.selectIndex++;
                self.$refs.options.scrollTop=self.step*self.selectIndex;
                self.getContent(self.odata.data.data[self.selectIndex].id);
              }*/
              if(self.contentSelected>-1){
                // self.scrollPos+=25;
                // self.contentSelected+3<=self.data.length-1?self.contentSelected+=3:self.contentSelected<self.data.length-1?self.contentSelected++:'';
                self.contentSelected+3<=self.data.length-1?self.contentSelected+=3:'';
                // self.$refs.menu_content.scrollTo(0,self.scrollPos);
                self.$refs.menu_content.scrollTop=parseInt(self.contentSelected/3)*200;
              }
              break;
            case 29460://
            case 38://pc up
              //向上移动左侧菜单分类项
              //self.contentSelected==-1&&self.selectIndex>0?(Vue.prototype.$contentSelected=undefined,self.selectIndex--,self.$refs.options.scrollTop=self.step*self.selectIndex,self.getContent(self.odata.data.data[self.selectIndex].id)):'';
              if(self.contentSelected==-1&&self.selectIndex>0){
                Vue.prototype.$contentSelected=undefined;
                self.selectIndex--;
                self.selectIndex-11<0?self.$refs.options.scrollTop=0:'';
                self.getContent(self.odata.data.data[self.selectIndex].id);
              }
              if(self.contentSelected>-1){
                // self.scrollPos-=25;
                self.contentSelected-3>-1?self.contentSelected-=3:'';
                // self.$refs.menu_content.scrollTo(0,self.scrollPos);
                self.$refs.menu_content.scrollTop=parseInt(self.contentSelected/3)*200;
              }
              break;
          }
        }
      });
    },
    mounted(){
      window.goBack=this.goBack;
       // this.loadimg();
    },
    updated(){
      // this.$nextTick(()=>{
      //   if(this.$mIndex!=undefined&&this.odata.data.data.length>=this.$mIndex){
      //     this.selectIndex=this.$mIndex;
      //     this.getContent(this.odata.data.data[this.selectIndex].id);
      //     Vue.prototype.$mIndex=undefined;
      //   }
      // });
    },
    destroyed(){
      //退出时记录当前索引
      console.log(this.selectIndex);
      Vue.prototype.$mIndex=this.selectIndex;
    },
    methods:{
      islScroll(index){
        this.$nextTick(()=>{
          if(this.$oIndex!=undefined && this.$oIndex!=this.selectIndex){
            this.$refs.oItem[this.$oIndex].getElementsByTagName('span')[0].classList.remove('animate');
          }
          if(this.selectIndex==index){
            if(this.$refs.oItem[index].clientWidth<this.$refs.oItem[index].getElementsByTagName('span')[0].clientWidth){
              this.$refs.oItem[index].getElementsByTagName('span')[0].classList.add('animate');
              Vue.prototype.$oIndex=this.selectIndex;
            }else{
              this.$refs.oItem[index].getElementsByTagName('span')[0].classList.remove('animate');
            }
          }
        });
          return false;
      },
      loadimg(){
        this.$nextTick(()=>{
          // this.ldshow=true;
          var imgs=document.querySelectorAll('img');
          this.allImgLength=imgs.length;
          Array.from(imgs).forEach((item)=>{
            item.onload=()=>{
              let img = new Image()
              img.onload = ()=>{
                this.loadLength++;
              }
              img.src=item.getAttribute('src')
            }
          });
        })
      },
      toDetail(){
        this.$router.push({name:'detail',params:{id:this.data[this.contentSelected].id}});
      },
      getContent(id){
        this.$http.get(this.$global.URL+'/page/'+id+'?&'+this.$params).then(data=>{
           this.data=data.data.data.all_merchandises;
           // this.loadimg();
        });
      },
      isScroll(index){
        this.$nextTick(()=>{
          if(this.$refs.desc[index].clientWidth<this.$refs.desc[index].getElementsByTagName('span')[0].clientWidth){
            this.$refs.desc[index].getElementsByTagName('span')[0].classList.add('animate');
          }else{
            this.$refs.desc[index].getElementsByTagName('span')[0].classList.remove('animate');
          }
        })
        return false;
      },
      goBack(){
        window.location.href='index.html';
      }
    },
    computed:{

    },
    watch:{
      loadLength:function (nVal,oVal) {
        if(nVal==this.allImgLength){
          this.ldshow=false;
        }

      }
    }
  }

</script>

<style scoped>
@import url("main/main.less");
</style>
