<template>
    <div class="main">
        <div class="menu">
           <ul class="options">
               <li  v-for="(item,index) in menuOptions" v-bind:class="{whichOption:index==selectIndex}" >{{item}}</li>
           </ul>
        </div>
        <div class="menu_content"   ref="menu_content">
            <ul>
              <li>
                 <div class="image">
                   <img src="http://www.bkchina.cn/website/images/product/24.png"/>
                 </div>
                 <div class="desc">
                   汉堡
                 </div>
              </li>
              <li>
                <div class="image">
                  <img src="http://www.bkchina.cn/website/images/product/27.png"/>
                </div>
                <div class="desc">
                  超值套餐
                </div>
              </li>
              <li>
                <div class="image">
                  <img src="http://www.bkchina.cn/website/images/product/28.png"/>
                </div>
                <div class="desc">
                  早餐
                </div>
              </li>
              <li>
                <div class="image">
                  <img src="http://www.bkchina.cn/website/images/product/25.png"/>
                </div>
                <div class="desc">
                  小食
                </div>
              </li>
              <li>
                <div class="image">
                  <img src="http://www.bkchina.cn/website//productimage/58102ee9cfd51.png"/>
                </div>
                <div class="desc">
                  甜品
                </div>
              </li>
              <li>
                <div class="image">
                  <img src="http://www.bkchina.cn/website/productimage/mt_s.png"/>
                </div>
                <div class="desc">
                  饮料
                </div>
              </li>
              <li>
                <div class="image">
                </div>
                <div class="desc">
                </div>
              </li>
              <li>
                <div class="image">
                </div>
                <div class="desc">
                </div>
              </li>
              <li>
                <div class="image">
                </div>
                <div class="desc">
                </div>
              </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Main",
        data(){
          return{
              menuOptions:['Main Course','Wine','Desset','Whisky','Coffee','Soft Drink'],
              selectIndex:0,
              scrollPos:5,
          }
      },
      created(){
         console.log( window.aa);
          var self=this;
          this.$nextTick(()=>{
              document.onkeydown=function (e) {
                switch (e.keyCode) {
                  case 39://right
                    if(self.selectIndex<self.menuOptions.length-1){
                      self.selectIndex++;
                      console.log(self.selectIndex);
                    }
                        break;
                  case 5://right
                    if(self.selectIndex<self.menuOptions.length-1){
                      self.selectIndex++;
                      console.log(self.selectIndex);
                    }
                    break;
                  case 37://left
                    if(self.selectIndex>0){
                      self.selectIndex--;
                      console.log(self.selectIndex);
                    }
                        break;
                  case 4://left
                    if(self.selectIndex>0){
                      self.selectIndex--;
                      console.log(self.selectIndex);
                    }
                    break;
                  case 40://down
                    console.log('0-------')
                    console.log(self.$refs.menu_content.scrollHeight);
                    self.scrollPos+=15;
                    self.$refs.menu_content.scrollTo(0,self.scrollPos);
                    break;
                  case 29461://down
                    self.scrollPos+=15;
                    self.$refs.menu_content.scrollTo(0,self.scrollPos);
                    break;
                  case 38://up
                    self.scrollPos-=15;
                    console.log(self.$refs.menu_content.scrollHeight);
                    self.$refs.menu_content.scrollTo(0,self.scrollPos);
                    break;
                  case 29460://up
                    self.scrollPos-=15;
                    self.$refs.menu_content.scrollTo(0,self.scrollPos);
                    break;
                }
              }
          });
      },
      methods:{
          test(){
            console.log('00000');
          }
      }
    }
</script>

<style scoped>
.main{
  width: 90%;
  height: 100%;
}
.menu{
    width: 100%;
    height: 10%;
    background-color: cadetblue;
  }
.options{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.options li{
  list-style-type: none;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.menu_content {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}
.menu_content ul{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}
.menu_content ul li{
  list-style-type: none;
  width: 22%;
  height: 48%;
  overflow: hidden;
  margin: 5px 20px;
}
.image{
  width: 100%;
  height: 100%;
  background-color: rgb(255,255,255);
  }
.desc{
    height: 15%;
    width: 100%;
    background-color: blueviolet;
    position: relative;
    color: #fff !important;
    top: -15%;
    opacity: 0.3;
  }
  .image img{
    width: 100%;
    height: 100%;
  }
  .whichOption{
    border: 1px solid blueviolet !important;
  }
</style>
