<template>
    <div class="order" >
          <div class="header">
            <top></top>
          </div>
          <div class="content">
            <router-view></router-view>
          </div>
          <div class="bottom">
            <bottom></bottom>
          </div>
    </div>
</template>

<script>
  import top from '@/components/common/Top'
  import bottom from '@/components/common/bottom'
    export default {
        name: "Order",
      data(){
        return{
        }
      },
      components:{
        top,bottom
      },
      data(){
          return{
            msg:'-----helloworld'
        }
      }
      ,
      beforeCreate(){

      }
    }
</script>

<style scoped>
.order{
  width: 100%;
  height: 100%;
  background-size:100% 100%;
  background-image: url("../assets/bg.jpg");
}
.header{
    width: 100%;
    height: 15%;
  }
.content{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: rgba(0,0,0,0);
  }
.bottom{
  width: 100%;
  height: 5%;
  background-color:rgba(0,0,0,0);
}
</style>
