<template>
    <div class="main"><span style="position: absolute;display: none">{{test1}}||{{test}}</span>
      <div class="left">
          <img :src="arrow==-1?require('../assets/left1.png'):require('../assets/left0.png')"/>
      </div>
      <div class="middle">
        <div class="above">
             <ul class="list" >
            <li class="item" v-for="(item,index) in newData" >
               <div class="food_img">
                 <img :src="img12(item.merchandise_id)!=undefined?img12(item.merchandise_id):require('../assets/default.jpg')"/>
               </div>
               <div class="food_info">
                 <span class="food_name" >{{title(item.merchandise_id)}}</span>
                 <div class="options_list">
                   <span class="food_options" v-for="(citem,cindex) in  item.variants">{{getType(item.merchandise_id,citem)}}:{{getValue(item.merchandise_id,citem)}}</span>
                 </div>
               </div>
               <div class="food_price">
                 <!--total_price_in_mill 购物车所有商品总价（包含服务费和增值税，减去折扣）-->
                 <span class="foodo_price">￥{{item.total_price_in_mill/1000}}</span>
                 <div class="goods_count" :class="{focus: index==-2}">
                   <div class="reduce" :class="{cfocus:index==fPointer&&cFlag==0}">
                     -
                   </div>
                   <div class="number" :class="{gfocus:index==-2}">{{item.quantity}}</div>
                   <div class="add" :class="{cfocus:index==fPointer&&cFlag==1}">
                     +
                   </div>
                 </div>
               </div>
            </li>
          </ul>
        </div>
        <div class="below">
          <div class="below_left">
            <span class="total">{{$defaultLanguage=='zh-cn'?'总计:':'Total:'}}</span>
            <span class="price">￥{{data!=undefined?data.data.data.total_price_in_mill/1000:'0'}}</span>
          </div>
          <div class="below_right" :class="{focus:fPointer==newData.length}">{{$defaultLanguage=='zh-cn'?'下订单':'Place Order'}}</div>
        </div>
      </div>
      <div class="right">
        <img :src="arrow==1?require('../assets/right1.png'):require('../assets/right0.png')"/>
      </div>
      <div class="payment" v-if="selectionD">
        <payment_dialog :cPointer="cPointer" :total_price_in_mill="data.data.data.total_price_in_mill"></payment_dialog>
      </div>
      <div class="alipay" v-if="alipayD">
        <Alipay_dialog v-on:pay_success="pay_success" :order_id="order_id" :order_money="order_money"></Alipay_dialog>
      </div>
      <div class="spay" v-if="sPayD">
        <success_pay_dialog ></success_pay_dialog>
      </div>
      <div class="payConfirm" v-if="cPay">
          <payConfirm_dialog :ConIndex='ConIndex'></payConfirm_dialog>
      </div>
    </div>
</template>

<script>
  import store from '@/vuex/store'
  import payment_dialog from '@/components/dialog/payment_dialog'
  import Alipay_dialog from '@/components/dialog/Alipay_dialog'
  import Success_pay_dialog from "./dialog/success_pay_dialog";
  import payConfirm_dialog from "./dialog/payConfirm_dialog";
    export default {
        name: "ShoppingCart",
      components:{
        Success_pay_dialog,
        payment_dialog,Alipay_dialog,
        payConfirm_dialog
      },
      store,
      data(){
        return{
          arrow:0,
          newData:[],//每页数据
          selectionD:false,//支付选项对话框页面
          alipayD:false,//支付宝付款页面对话框
          sPayD:false,//支付成功对话框
          cPay:false,//提示用户确认是否继续付款对话框
          ConIndex:1,//是否继续支付对话框操作索引
          data:undefined,//返回的所有数据
          pointer:0,//购物车页面指针
          step:4,//每页步长
          cPointer:0,//支付选项对话框页面上下数据指针
          merchandises:[],//商品数据集合
          imgList:undefined,//图片集合
          $defaultLanguage:this.$defaultLanguage,//默认语言
          order_ret:-1,//下单成功返回值200,默认-1
          fPointer:0,//页面数据项焦点指针,默认数组的长度即是指向place order
          order_id:-1,
          cFlag:0,//数量加减标记(1表示加,0表示减)
          test:0,
          test1:1,
          order_money:0
        }
      },
      mounted(){
        window.goBack=this.goBack;
      },
      destroyed(){
        this.$store.commit('renew',this.$subMenuName);
      },
        created(){
          var _this=this;
          localStorage.imgList!=undefined?this.imgList=JSON.parse(localStorage.imgList):'';
          this.loadData();
          this.$store.commit('renew',localStorage.cSubMenuName);
          this.$nextTick(()=>{
            document.onkeydown=(ev)=>{
              switch (ev.keyCode) {
                case 13:
                   //焦点指向placeorder,购物车不为空,选项框未显示,则下单
                  if(_this.fPointer==this.newData.length &&_this.data.data.data.cart.length!=0&&_this.selectionD==false&&_this.sPayD==false&&_this.alipayD==false){
                    _this.xiadan();
                  }
                  if(_this.selectionD==true&&_this.alipayD==false&&_this.cPay==false&&_this.cPointer==0){
                    _this.selectionD=false;
                    _this.alipayD=true;
                  }
                  if(_this.selectionD==false&&_this.alipayD==false&&_this.sPayD==true){
                    _this.$router.push({name:'mainv1'});
                  }
                  //焦点加与减的控制
                  if(_this.selectionD==false&&_this.alipayD==false&&_this.sPayD==false&&_this.fPointer!=_this.newData.length){
                        if(_this.cFlag==0){//焦点为0的时候，操作enter,执行商品数量减去1个,
                          _this.newData[_this.fPointer].quantity>0?_this.newData[_this.fPointer].quantity--:'';
                        }else if(_this.cFlag==1){//焦点为1的时候，操作enter,执行商品数量加上1个,
                          _this.newData[_this.fPointer].quantity++
                        }
                       //更新本地数据
                    _this.newData[_this.fPointer].quantity>0? _this.updateMerQuantity():_this.deleteGoods();
                  }
                  //是否继续支付对话框页面操作
                  if(_this.cPay==true && (_this.selectionD==true || _this.alipayD==true)){
                    _this.ConIndex==1?_this.cPay=false:_this.$router.push({name:'mainv1'});
                    _this.ConIndex==1?_this.cPay=false:_this.$entry!=undefined?history.go(-1):_this.$router.push({name:'mainv1'});
                  }
                  break;
                case 8://pc return
                    //  _this.goBack();
                case 10009://tv return
                  // if(_this.selectionD==false&&_this.sPayD==false&&_this.sPayD==false){
                  //
                  // }else{
                  //   _this.selectionD=_this.sPayD=_this.sPayD=false;
                  // }
                  // _this.$router.push({name:'mainv1'})
                  return false;
                  break;
                case 37://pc left
                  if(_this.selectionD==false && _this.alipayD==false && _this.sPayD==false){
                    if(_this.fPointer==_this.newData.length){
                      //翻到上一页
                     //  _this.pointer>0?_this.pointer-=_this.step:'';
                     // _this.changeDate();
                      _this.prevPage();
                    }else {
                      //焦点左操作
                      if (_this.cFlag == 0) {//表示焦点在减号上面,向左指针指向减1个,cFlag操作标记置为1
                        _this.fPointer>0?(_this.fPointer--,_this.cFlag=1):(_this.prevPage(),_this.fPointer=0,_this.cFlag=0);
                      } else if (_this.cFlag == 1) {//表示焦点在加号上面,向左指针指向不变,cFlag操作标记重置为0
                        _this.cFlag=0;
                      }
                    }
                  }
                  if(_this.cPay==true){
                    _this.ConIndex=0;
                  }
                  break;
                case 39://pc right
                  if(_this.selectionD==false && _this.alipayD==false && _this.sPayD==false){
                    if(_this.fPointer==_this.newData.length){//焦点指针指向索引
                      //指针右移动step,到下一页
                      _this.nextPage();
                      // _this.pointer<_this.data.data.data.cart.length&&_this.data.data.data.cart.length-_this.pointer>_this.step?_this.pointer+=_this.step:'';
                      // _this.changeDate();
                      _this.fPointer=_this.newData.length;
                    }else{
                      //焦点右操作
                      if(_this.cFlag==0){//表示焦点在减号上面,向右指针指向不变,cFlag操作标记置为1
                        _this.cFlag=1;
                      }else if(_this.cFlag==1){//表示焦点在加号上面,向右指针指向加一个,cFlag操作标记置为0
                        _this.fPointer<_this.newData.length-1?(_this.fPointer++,_this.cFlag=0):(_this.nextPage());
                      }
                    }
                  }
                  if(_this.cPay==true){
                    _this.ConIndex=1;
                  }
                  break;
                case 38://pc/tv up
                  //支付选项对话框显示状态下,指针上移
                  if(_this.selectionD==true){
                    // _this.cPointer>0?_this.cPointer--:'';
                    //更新服务器商品数量接口
                  }
                  //对话框没有显示状态下,向上焦点转移到列表选项中第一个
                  if(_this.selectionD==false && _this.alipayD==false && _this.sPayD==false){
                    if(_this.fPointer==_this.newData.length){
                      //指针指向0，加减操作标记标为0
                      // _this.fPointer=_this.newData.length-1;
                      _this.fPointer=0;
                    }else{
                      _this.fPointer-2>=0?_this.fPointer-=2:'';//指针向上平移一行,操作标记不变
                    }
                  }
                  break;
                case 40://pc down
                  //支付选项对话框显示状态下,指针下移
                  if(_this.selectionD==true){
                    // _this.cPointer<2?_this.cPointer++: _this.fPointer=_this.newData.length;
                  }
                  //对话框没有显示状态下,向下焦点转移到place order按钮上
                  if(_this.selectionD==false && _this.alipayD==false && _this.sPayD==false){

                    if(_this.fPointer!=_this.newData.length){
                      _this.fPointer+2<_this.newData.length?_this.fPointer+=2: _this.fPointer=_this.newData.length;;//指针指向向下移动一行,操作标记不变
                    }
                  }
                  break;
              }
            }
            document.onkeyup=(ev)=>{
              switch (ev.keyCode) {
                case 37://pc left
                  this.arrow=0;
                case 39://pc right
                  this.arrow=0;
                  break;
              }
            }
          })
        },
        methods:{
          goBack(){
            if(this.selectionD==true||this.alipayD==true){
              this.cPay=true
            }else if(this.$entry!=undefined){
              history.go(-1);
            }
            else{
              this.$router.push({name:'mainv1'});
            }
          },
          loadData(){
            this.$http.get(this.$global.URL+"/cart/?"+this.$params).then(data=>{
              this.data=data;
              this.data.data.data.cart.filter((item,index)=>{
                  if(item.variants.length!=0){
                    item.variants=this.getSortedVariants(item.variants);
                  }
              });
              this.merchandises=this.data.data.data.merchandises;
              this.changeDate();
            });
          },
          xiadan:function(){
            var roomNum=localStorage.roomNum!=undefined?localStorage.roomNum:'000';
            this.$http.post(this.$global.URL+'/cart/place_order/?'+this.$params,{expected_delivery_time :0,note:'no',recipient_name:roomNum,recipient_phone:roomNum,address:roomNum}).then(data=>{
              if(data.data.ret==200){
                this.newData=this.data.data.data.cart=[];
                this.selectionD=true;
                this.order_ret=200;
                this.order_money=this.data.data.data.total_price_in_mill;
                this.order_id=data.data.data.order_id;
              }
            });
          },
          changeDate(){
            console.log("|_this.data.length->"+this.data.data.data.cart.length);
            var sortCart=this.data.data.data.cart.sort(this.compare);//返回排序后的数组
            this.newData=sortCart.filter((item,index)=>{
              return index>=this.pointer && index<this.pointer+this.step;
            });
            this.fPointer=this.newData.length;
            this.test1=this.pointer;
            return false;
          },
          refreshDate(){
            console.log("|_this.data.length->"+this.data.data.data.cart.length);
            this.$http.get(this.$global.URL+"/cart/?"+this.$params).then(data=>{
              this.data=data;
              this.data.data.data.cart.filter((item,index)=>{
                if(item.variants.length!=0){
                  item.variants=this.getSortedVariants(item.variants);
                }
              });
              this.merchandises=this.data.data.data.merchandises;
              var sortCart=this.data.data.data.cart.sort(this.compare);//返回排序后的数组
              this.newData=sortCart.filter((item,index)=>{
                return index>=this.pointer && index<this.pointer+this.step;
              });
              //如果当前页面数据为空翻到上一页,操作置为0
              if(this.newData.length==0){
                 this.prevPage();
                 this.fPointer=0;
              }
            });

          },
          img12:function(merchandise_id){
            var url=undefined;
            this.merchandises.forEach((item,index)=>{
              if(item.id==merchandise_id){
                if(this.imgList!=undefined&&this.imgList.data[item.defaultImage.internalImageId]!=undefined){
                  url=this.imgList.data[item.defaultImage.internalImageId].internal_image_url!=undefined?this.imgList.data[item.defaultImage.internalImageId].internal_image_url:"";
                }
              }
            });
            return url;
          },
          title:function (merchandise_id) {
            var name='empty';
            this.merchandises.forEach((item,index)=>{
              if(item.id==merchandise_id){
                name= item.translates[this.$defaultLanguage].title;
              }
            });
            return name;
          },
          getType(merchandise_id,citem0){
            var typeName='empty';
            this.merchandises.forEach((item,index)=>{
              if(item.id==merchandise_id){
                if(item.variantData.optionGroups!=undefined){
                  item.variantData.optionGroups.filter((citem1,index1)=>{
                    citem1.options.filter((citem2,index2)=>{
                      if(citem0==citem2.langAgnosticId){
                        typeName = item.translates[this.$defaultLanguage].optionTranslations.translations[citem1.langAgnosticId];
                      }
                    });
                  })
                }

              }
            });
            return typeName;
          },
          getValue(merchandise_id,citem0){
            var typeValue='empty';
            this.merchandises.forEach((item,index)=>{
              if(item.id==merchandise_id){
                if(item.variantData.optionGroups!=undefined){
                  item.variantData.optionGroups.filter((citem1,index1)=>{
                    citem1.options.filter((citem2,index2)=>{
                      if(citem0==citem2.langAgnosticId){
                        console.log('1111->>>'+item.translates[this.$defaultLanguage].optionTranslations.translations[citem1.langAgnosticId]);
                        typeValue = item.translates[this.$defaultLanguage].optionTranslations.translations[citem2.langAgnosticId];
                      }
                    });
                  })
                }

              }
            });
            return typeValue;
          },
          updateMerQuantity(){
            this.$http.put(this.$global.URL+'/cart/'+this.newData[this.fPointer].cart_id+'/?'+this.$params,{quantity:this.newData[this.fPointer].quantity,note:'no',selected :1})
              .then(data=>{
                console.log(data);
                this.refreshDate();
              });
          },
          //购物车数组排序
          compare:function (x,y) {
            if (x.cart_id < y.cart_id) {
              return -1;
            } else if (x.cart_id > y.cart_id) {
              return 1;
            } else {
              return 0;
            }
          },
          //支付成功返回接口
          pay_success(obj){
              if(obj.code==200){
                this.selectionD=false;
                this.alipayD=false;
                this.sPayD=true;
              }
          },
          //翻到下一页
          nextPage(){
            this.arrow=1;//翻页右箭头图像变化
            this.pointer<this.data.data.data.cart.length&&this.data.data.data.cart.length-this.pointer>this.step?(this.pointer+=this.step,this.changeDate(),this.fPointer=0,this.cFlag=0):'';
          },
          //翻到上一页
          prevPage(){
            this.arrow=-1;//翻页左箭头图像变化
            this.pointer>0&&this.pointer-this.step>=0?this.pointer-=this.step:'';
            this.changeDate();
            // this.fPointer=0;
            // this.cFlag=0;
          },
          getSortedVariants(array){
              return array.sort(this.compareVariants);
          },
          compareVariants:function (x1,y1) {
            var x = parseInt(x1);
            var y=parseInt(y1);
            if (x < y) {
              return -1;
            } else if (x > y) {
              return 1;
            } else {
              return 0;
            }
          },
          //数量为0时删除该项商品
          deleteGoods(){
            console.log('card_id-->'+this.newData[this.fPointer].cart_id);
            this.$http.delete(this.$global.URL+'/cart/'+this.newData[this.fPointer].cart_id+'?'+this.$params).then(data=>{
              console.log(data);
              this.refreshDate();
            });
          }
        },


    }
</script>

<style scoped>
.main{
  width: 100%;
  height: 90%;
  display: flex;
}
  .left{
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.middle{
  width: 84%;
  height: 100%;
  background:rgba(220,209,193,0.7051000000000001);
}
.right{
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.above{
  width: 100%;
  height: 85%;
  overflow: hidden;
}
.below{
  width: 100%;
  height: 15%;
  border-top:1px solid rgba(0,0,0,0.4);
}
.middle .list{
  list-style-type: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
 }
  .list .item{
    width: 45%;
    height: 48%;
    margin: 2px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }
  .below{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .below_left{
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  .total{
    font-size:28px;
    font-weight:500;
    color:rgba(209,9,22,1);
  }
  .price{
    font-size:48px;
    font-weight:500;
    color:rgba(209,9,22,1);
    margin-left: 20px;
  }
  .below_right{
    width: 12%;
    height: 65%;
    background:rgba(203,9,21,0.4);
    border-radius:5px;
    font-size:24px;
    font-weight:500;
    color:rgba(255,255,255,1);
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  .food_img{
    width: 40%;
    height: 70%;
  }
.food_img img{
  width: 100%;
  height: 100%;
}
.food_info{
  width: 20%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
  .food_price{
    width: 34%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .food_name{
    width: 80px;
    height: 40px;
    font-size:18px;
    color:rgba(43,43,43,1);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow:ellipsis;
    text-align: left;
    word-break: break-all;
  }
  .food_size{
    margin-top: 50px;
  }
  .food_size,.food_extra{
    font-size:22px;
    color:rgba(89,89,89,1);
    line-height:31px;
  }
  .foodo_price{
    font-size:28px;
    font-weight:500;
    color:rgba(43,43,43,1);
  }
.goods_count{
  width: 80%;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius:5px;
  opacity:0.6;
  /*border:2px solid rgba(179,179,179,1);*/
  margin-top: 40px;
}
.goods_count div{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reduce,.add{
  width: 30%;
  font-size: 23px;
  color: #333333;
  border:2px solid #333333;
}
.number{
  flex: 1;
  font-size:25px;
  color: #333333;
  border-top:2px solid #333333;
  border-bottom: 2px solid #333333;
}
.payment{
  width:620px;
  height:480px;
  position: absolute;
  top: 15%;
  left: 28%;
  background:rgba(245,245,245,1);
  }
  .alipay{
    width:620px;
    height:480px;
    position: absolute;
    top: 15%;
    left: 28%;
    background:rgba(245,245,245,1);
  }
  .spay{
    width:620px;
    height:480px;
    position: absolute;
    top: 15%;
    left: 28%;
    background:rgba(245,245,245,1);
  }
  .options_list{
    margin-top: 70px;
  }
  .options_list span{
    display: block;
    white-space: nowrap;
    text-align: left;
  }
.focus{
  border:2px solid rgba(202,9,21,1);
}
.gfocus{
  border-left:2px solid rgba(202,9,21,1);
  border-right: 2px solid rgba(202,9,21,1);
}
  .cfocus{
    /*color: rgba(202,9,21,1);*/
    margin: 0;
    border:2px solid rgba(202,9,21,1);
  }
  .payConfirm{
    width:620px;
    height:480px;
    position: absolute;
    top: 15%;
    left: 28%;
    background:rgba(245,245,245,1);
  }
</style>
