<template>
    <div class="alipay1">
        <div class="atop">
           <div class="AA">
             <img src="../../assets/alipay2.png"/>
             <span>
               {{defaultLanguage=='zh-cn'?'支付宝':'Alipay'}}
             </span>
           </div>
           <div class="BB">
             {{defaultLanguage=='zh-cn'?'请扫描二维码进行支付':'Please scan the QR code for payment'}}
           </div>
        </div>
        <div class="acontent">
          <span>
          <img :src="qr_code"/>
          </span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Alipay_dialog",
        props:["order_id",'order_money'],
        data(){
          return{
            qr_code:'',
            defaultLanguage: this.$defaultLanguage,
          }
        },
        created(){
          this.$http.post(this.$global.URL+'/room_order/'+this.order_id+"/pay/?"+this.$params+"&pay_method=ALI",{}).then(data=>{
            // console.log(data.data.qr_code);
            console.log(data.data.data.qr_code);
            this.qr_code=this.$global.URL+"/util/qr_code/?code="+encodeURIComponent(data.data.data.qr_code);
            this.isPaid();
          });
        },
        mounted(){

        },
      methods:{
          isPaid(){
            this.$http.get(this.$global.URL+'/room_order/'+this.order_id+"/is_paid/?"+this.$params).then(data=>{
                     console.log(data);
                     if(!data.data.data.is_paid){
                       setTimeout(()=>{this.isPaid() },2*1000);
                     }else{
                       console.log('支付成功!!--');
                       this.paySuccess();//通知后台下单成功
                     }
            });
          },
        paySuccess(){
          this.$http.post(this.$global.URL+'/room_order/'+this.order_id+"/mark_paid/?"+this.$params,{pay_ali:this.order_money}).then(data=>{
            console.log(data);
            this.$emit('pay_success',{code:200});
          });
        }
      }
    }
</script>

<style scoped>
.alipay1{
  width: 100%;
  height: 100%;
}
  .atop{
    width: 100%;
  }
  .AA{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .AA span{
    font-size:38px;
    font-weight:500;
    color:rgba(34,28,28,1);
    line-height:39px;
    margin-left: 20px;
  }
  .BB{
    font-size:26px;
    font-weight:500;
    color:rgba(161,161,161,1);
    line-height:34px;
    margin-top: 16px;
  }
  .acontent{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }
.acontent span{
     width: 55%;
  display: block;
}
.acontent span img{
  width: 100%;
}
</style>
