<template>
    <div class="cart">
      <div class="cart_title">
        <span>{{cart_dialog_data.translates[defaultLanguage].title}}</span>
      </div>
      <div class="cart_content">
        <div class="label" v-for="(item,pindex) in cart_dialog_data.variantData.optionGroups" >
          <span class="title_label" >{{cart_dialog_data.translates[defaultLanguage].optionTranslations.translations[item.langAgnosticId]}}:</span>
          <div class="label_options">
            <div class="label_options_item" :class="{active:item.hasFocus,focus: pindex==pPointer&&index==pointer}"  v-for="(item,index) in item.options">{{cart_dialog_data.translates[defaultLanguage].optionTranslations.translations[item.langAgnosticId]}}</div>
          </div>
        </div>
      </div>
      <div class="cart_bottom">
        <div class="cart_price">￥{{allPrice/1000}}</div>
        <div class="cart_add" :class="{focus: pPointer==cart_dialog_data.variantData.optionGroups.length}">{{defaultLanguage=='zh-cn'?'添加至购物车':'add to cart'}}</div>
      </div>


    </div>
</template>

<script>
    export default {
      name: "cart_dialog",
      data() {
        return {
          optionGroups: [],
          defaultLanguage: this.$defaultLanguage,
          allPrice: 0,//总价格
          pPointer: 0,//指向属性类别,上一个级别数组
          pointer: 0,//指向类别属性某一项,下一级别数组
        }
      },
      props: [
        'cart_dialog_data',
      ],
      created() {
        this.bindKeyDown();
        this.countTotalPrice();
        this.pPointer=this.cart_dialog_data.variantData.optionGroups.length;
      },
      methods: {
        countTotalPrice() {
          this.allPrice = 0;
          var defaultPriceInMill = parseInt(this.cart_dialog_data.defaultPriceInMill);
          var extraPrice = 0;
          this.cart_dialog_data.variantData.optionGroups.filter((item, index) => {
            if (item.options != undefined) {
              item.options.filter((citem, index) => {
                if (citem.hasFocus == true && citem.priceInMill != undefined) {
                  citem.priceInMill != undefined ? extraPrice += parseInt(citem.priceInMill) : 0;
                }
              })
            }
          });
          this.allPrice = (defaultPriceInMill + extraPrice) * this.$parent.count;
        },
        bindKeyDown() {
          this.$nextTick(() => {
            document.onkeydown = (e) => {
              switch (e.keyCode) {
                case 13:
                  if (this.pPointer == this.cart_dialog_data.variantData.optionGroups.length) {
                    var params = this.getVariants();
                    this.$parent.addToCart(params);
                    return false;
                  }
                  this.cart_dialog_data.variantData.optionGroups[this.pPointer].options.filter((item, index) => {
                    item.hasFocus = false;
                  });
                  var curItem = this.cart_dialog_data.variantData.optionGroups[this.pPointer].options[this.pointer];
                  curItem.hasFocus = true;
                  this.$forceUpdate();
                  this.countTotalPrice();
                  break;
                case 37://left
                  this.pointer > 0 ? this.pointer-- : this.pointer = this.cart_dialog_data.variantData.optionGroups[this.pPointer].options.length - 1;
                  break;
                case 39://right
                  this.pointer < this.cart_dialog_data.variantData.optionGroups[this.pPointer].options.length - 1 ? this.pointer++ : this.pointer = 0;
                  break;
                case 40://down
                  this.pointer = 0;
                  // this.pPointer < this.cart_dialog_data.variantData.optionGroups.length ? this.pPointer++ : this.pPointer = 0;
                  this.pPointer < this.cart_dialog_data.variantData.optionGroups.length ? this.pPointer++ : '';
                  break;
                case 38://up
                  this.pointer = 0;
                  // this.pPointer > 0 ? this.pPointer-- : this.pPointer = this.cart_dialog_data.variantData.optionGroups.length;
                  this.pPointer > 0 ? this.pPointer-- : '';
                  break;
              }
            }
          })
        },
        getVariants() {
          var options = [];
          this.cart_dialog_data.variantData.optionGroups.filter((item, index) => {
            if (item.options != undefined) {
              item.options.filter((citem, cindex) => {
                if (citem.hasFocus == true) {
                  options.push(citem.langAgnosticId);
                }
              })
            }
          });
          return options;
        }
      },
      destroyed() {
        document.onkeydown = null;
        // this.$parent.bindKeyDown();
      },
    }
</script>

<style scoped>
  *{
    box-sizing: border-box;
  }
.cart{
  width: 100%;
  height: 100%;
}

.cart_title{
  height: 10%;
  border-bottom: 1px solid rgb(214,214,214);
  display: flex;
  justify-content: left;
  align-items: center;
}
.cart_title span{
  font-size:30px;
  font-weight:500;
  line-height:33px;
  margin-left: 30px;
}
.cart_content{
  height: 70%;
  width: 100%;
  overflow-y: scroll;
}
.label{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  margin-top: 10px;
}

.title_label{
  font-size:24px;
  color:rgba(170,170,170,1);
  margin:0 20px;
  white-space:nowrap;
}
.label_options{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-wrap: wrap;

}
.label_options div{
  width: 120px;
  height: 42px;
  background:rgba(242,242,242,1);
  border-radius:5px;
  margin: 8px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_bottom{
  width:100%;
  height:20%;
  background-color:rgba(240,240,240,1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_price{
  font-size:48px;
  color:rgba(34,28,28,1);
  margin-left: 10px;
}
.cart_add{
  width:220px;
  height:60px;
  border-radius:5px;
  font-size:25px;
  color:rgba(255,255,255,1) !important;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgba(202,9,21,0.2992);
}

  /*选项被选中样式*/
  .active{
    background-color:rgba(202,9,21,0.2992) !important;
    border-radius:5px;
  }
  /*选项拥有焦点样式*/
  .focus{
    border:2px solid rgba(202,9,21,1);
  }


  /*隐藏滚动条*/
  ::-webkit-scrollbar {
    display: none;
  }
</style>
