<template>
    <div class="conMain">
        <div class="header">
          <span>{{defaultLanguage=='zh-cn'?'温馨提示':'Tips'}}</span>
        </div>
         <div class="conMiddle">
            <span class="A0">{{defaultLanguage=='zh-cn'?'支付过程中请勿离开此页面':'Do not leave this page during the payment process'}}</span>
            <span class="A1">{{defaultLanguage=='zh-cn'?'继续支付请按【继续支付】,放弃支付,请按【退出】!':'To continue paying, please press [Continue Payment], to abandon the payment, please press [Exit]!'}}</span>
         </div>
         <div class="bottom">
           <span :class="{focus:ConIndex==0}">{{defaultLanguage=='zh-cn'?'退出':'exit'}}</span>
           <span :class="{focus:ConIndex==1}">{{defaultLanguage=='zh-cn'?'继续支付':'continue to pay'}}</span>
         </div>
    </div>
</template>

<script>
    export default {
        name: "payConfirm_dialog",
      props:['ConIndex'],
      data(){
          return{
            defaultLanguage: this.$defaultLanguage,
          }
      }
    }
</script>

<style scoped>
.conMain{
  width: 100%;
  height: 100%;
  background-color: rgb(234,234,234);
  overflow: hidden;
}
.header{
  width: 100%;
  height: 15%;
  background-color: rgb(255,255,255);
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 35px;
  }
  .conMiddle{

    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .A0{
    font-size: 28px;
    font-weight: bold;
  }
  .A1{
    font-size: 18px;
    margin-top: 5px;
  }
.bottom{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
  .bottom span{
    width: 40%;
    padding: 20px 0;
    color: white;
    font-size: 20px;
    background-color: rgb(164,164,164);
  }
  .focus{
    border: 1px solid red;
  }
</style>
