<template>
    <div class="main1">
        <div class="above">
           <div class="payment_title">{{defaultLanguage=='zh-cn'?'付款方式':'Payment Selection'}}</div>
          <div class="payment_selection">{{defaultLanguage=='zh-cn'?'总共要花费您￥'+total_price_in_mill/1000+'\n请选择支付方式':'This film would cost you ￥'+total_price_in_mill/1000+'\nplease select payment method'}} .</div>
        </div>
      <div class="below">
          <ul class="list">
              <li class="item" v-for="(item,index) in data" :class="{active:index==cPointer}">
                <img class="pay_img" :src="item.pImg"/>
                <span>{{item.info}}</span>
                <img v-if="index==cPointer" class="choose" :src="item.cImg"/>
              </li>
          </ul>
      </div>
    </div>
</template>

<script>
    export default {
        name: "payment_dialog",
      props:['cPointer',"total_price_in_mill"],
      data(){
          return{
            data:[
              // {pImg:require('../../assets/roomfolio.png'),info:'To room folio',cImg:require('../../assets/choose.png')},
              {pImg:require('../../assets/alipay.png'),info:'Alipay',cImg:require('../../assets/choose.png')},
              // {pImg:require('../../assets/wechat.png'),info:'Wechat',cImg:require('../../assets/choose.png')}
            ],
            defaultLanguage:this.$defaultLanguage,//默认语言
          }
      },
      mounted(){

      }
    }
</script>

<style scoped>
.main1{
  width: 100%;
  height: 100%;
}
  .above{
    height: 25%;
    width: 100%;
    border-bottom: 1px solid rgba(214,214,214,1);
  }
  .payment_title{
    font-size:32px;
    color:rgba(34,28,28,1);
    line-height:33px;
    margin-top: 30px;
  }
  .payment_selection{
    width: 51%;
    font-size:20px;
    font-weight:400;
    color:rgba(161,161,161,1);
    margin: auto;
    margin-top: 10px;
    white-space: pre-wrap;
  }
  .below{
    height: 75%;
    width: 100%;
  }
  .below .list{
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
 .item{
    display: flex;
   align-items: center;
   margin-top: 10px;
   display: flex;
   align-items: center;
   padding: 10px 0;
  }
 .pay_img{
   margin-left: 40px;
   width: 55px;
   height: 55px;
 }
  .item span{
    font-size:28px;
    font-weight:500;
    color:rgba(34,28,28,1);
    line-height:29px;
    margin-left: 40px;
  }
  .choose{
     position: absolute;
      right: 20%;
  }
  .active{
    background:rgba(194,194,194,0.6);
  }
</style>
