<template>
    <div class="success">
        <div class="title">
          <span class="success_title">{{defaultLanguage=='zh-cn'?'成功':'Success'}}</span>
          <span class="success_info">{{defaultLanguage=='zh-cn'?'成功添加至购物车':'Successfully added into shopping cart'}}</span>
        </div>
      <div class="success_img">
            <img src="../../assets/success.png"/>
      </div>
      <div class="shopping">
        <div :class="{active:spointer==0}">{{defaultLanguage=='zh-cn'?'购物车':'go to Cart'}}</div>
        <div :class="{active:spointer==1}">{{defaultLanguage=='zh-cn'?'继续购物':'Continue Shopping'}}</div>
      </div>
    </div>
</template>

<script>
    export default {
        name: "success_dialog",
      data(){
          return{
            spointer:1,//默认指向至购物车
            defaultLanguage: this.$defaultLanguage,
          }
      },
      created(){
          console.log('111');
          this.bindKeyDown();
      },
      methods:{
        bindKeyDown(){
          this.$nextTick(()=>{
            document.onkeydown=(e)=>{
               switch (e.keyCode) {
                 case 13:
                   this.spointer==0?this.$router.push({name:'shoppingCart'}):this.$router.push({name:'mainv1'});
                   break;
                 case 37://left
                   this.spointer=0;
                       break;
                 case 39://right
                   this.spointer=1;
                   break;
               }
            };
          });
        }
      },
      destroyed(){
        document.onkeydown=null;
        // this.$parent.bindKeyDown();
      }
    }
</script>

<style scoped>
.success{
  width: 100%;
  height: 100%;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6%;
}
.success_title{
  font-size:32px;
  color:rgba(34,28,28,1);
}
  .success_info{
    font-size:22px;
    font-weight:500;
    color:rgba(161,161,161,1);
  }
  .success_img img{
    margin-top: 6%;
  }
  .shopping{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 8%;
  }
  .shopping div{
    width:206px;
    height:72px;
    font-size:22px;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:23px;
    background-color:rgba(202,9,21,0.4);
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .active{
    border: 4px solid rgba(202,9,21,1);
  }
</style>
