<template>
    <div class="spay1" >
      <div class="atop">
        <div class="AA">
          <span>
            {{defaultLanguage=='zh-cn'?'成功':'Success'}}
          </span>
        </div>
        <div class="BB">
          {{defaultLanguage=='zh-cn'?'您的订单已成功发送，我们的工作人员会尽快给您回复！':'Your order has been sent successfully, our staff will get back to you soon！'}}
        </div>
      </div>
      <div class="acontent">
        <img src="../../assets/successpay.png"/>
        <div class="complete">{{defaultLanguage=='zh-cn'?'完成':'Complete'}}</div>
      </div>
    </div>
</template>

<script>
    export default {
        name: "success_pay_dialog",
      data(){
          return{
            defaultLanguage: this.$defaultLanguage,
          }
      },
      created(){
          setTimeout(()=>{
            location.href='index.html';
          },5000);//5秒后返回主页
      }
    }
</script>

<style scoped>
.spay1{
  width: 100%;
  height: 100%;
}
.atop{
  height: 27%;
  width: 100%;
}
.AA{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AA span{
  font-size:38px;
  font-weight:500;
  color:rgba(34,28,28,1);
  line-height:39px;
  margin-left: 20px;
}
.BB{
  font-size:22px;
  font-weight:500;
  color:rgba(161,161,161,1);
  line-height:34px;
  width: 80%;
  margin: auto;
}
.acontent img{
  margin-top: 30px;
}
  .complete{
    width:400px;
    height:72px;
    border-radius:5px;
    border:4px solid rgba(194,162,62,1);
    font-size:32px;
    color:rgba(255,255,255,1);
    line-height:33px;
    background:rgba(194,162,62,0.4);
    border-radius:5px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
