<template>
    <div class="bottom">
        <img src="../../assets/bottom.png"/>
    </div>
</template>

<script>
    export default {
        name: "bottom"
    }
</script>

<style scoped>
.bottom{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
  .bottom img{
   height: 80%;
    width: auto;
  }
</style>
