<template>
    <div class="top">
       <div class="left">
         <div class="logo">
           <img :src="logo!=undefined?logo:require('../../assets/Qin_logo.jpg')"/>
         </div>
         <span class="title">{{$store.state.subMenuName}}</span>
       </div>
       <div class="right">
          <div class="whether">
              <img :src="weather_imgurl!=undefined?require('../../assets/'+weather_imgurl):require('../../assets/rain.png')"/>
              <span>{{temperature}}</span>
          </div>
         <div style="width: 1px;height: 70%; background: #000;margin: 0 15px"></div>
         <div class="time">
            <span class="time1">{{time}}</span>
            <span class="date">{{date}}</span>
         </div>
       </div>
    </div>
</template>

<script>
  import store from '@/vuex/store'
  import Global from '../../Global'
    export default {
        name: "top",
      data(){
          return{
            time:this.$time,
            date:this.$date,
            temperature:'0℃/0℃',
            weather_imgurl:undefined,
            logo:undefined,
            subMenuName:this.$subMenuName
          }
      },
      store,
      created(){
          this.httpRequest();
        this.$store.commit('renew',this.$subMenuName);
        console.log('this.subMenuName->'+this.$subMenuName);
        sessionStorage.temperature!=undefined?this.temperature=sessionStorage.temperature:'';
        this.weather_imgurl=sessionStorage.weather_imgurl;
        this.logo=localStorage.logo;
      },
      methods:{
          httpRequest(){
            Global.httpGetRequest('/util/now/','',data=>{this.syncTime(data)},error=>{console.log(error)});
            setTimeout(()=>{this.httpRequest()},1*50*1000);
          },
         syncTime:function(jsondata){
    console.log(jsondata.data.data.datetime);
    var servertimestamp = Date.parse(new Date((jsondata.data.data.datetime).split("-").join("/")));
    localStorage.timestamp = servertimestamp;
    var _time_ = new Date(servertimestamp);

    console.log("__time__",_time_);
    var week= ['Sun','Mon','Tues','Wed','Thurs','Fri','Sat'];
    var _year_ = _time_.getFullYear();
    var _month_ = _time_.getMonth() + 1;
    var _date_ = _time_.getDate()
    var _day_ = '日一二三四五六'.charAt(_time_.getDay());
    var _day_en = week[_time_.getDay()];
    var H = _time_.getHours();
    console.log(new Date().getTimezoneOffset());
    var _hours_ = this.addzero(H);
    var _minutes_ = this.addzero(_time_.getMinutes());
    var _seconds_ = this.addzero(_time_.getSeconds());

    this.time=_hours_ + ":" + _minutes_;
    if (this.$defaultLanguage == "zh-cn") {
      this.date=_year_ + '年' + _month_ + '月' + _date_ + '日'+' '+'周' + _day_;
    }else{
      this.date=_year_ + '-' + _month_ + '-' + _date_ + ' ' + _day_en;
    }

  },
        addzero:function(n) {
    return n > 9 ? n : '0' + n;
     }
      }
    }
</script>

<style scoped>
.top{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(220,209,193,0.7);
  color: rgba(43,43,43,1);
}
.left{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  overflow: hidden;
}
.logo{
  width: 26%;
  height: 100%;

}
.logo img{
  width: auto;
  height: 100%;
}
  .left span{
         font-size: 30px;
    color:rgba(103,103,103,1);
         margin:0 20px;
         white-space: nowrap;
    margin: 48px auto 36px 30px;
  }
  .right{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .whether{
    display: flex;
    align-items: center;
  }
  .whether span{
    width: 93px;
    font-size: 24px;
    margin: 0 18px;
  }
.whether img{
  width: 36px;
  height: 36px;
}
  .divider{
    width: 3px;
    height: 60px;
    display: inline;
    padding: 0;
    margin: 0 30px;
  }
  .time{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .time1{
    font-size: 24px;
  }
  .date{
    font-size: 15px;
  }
</style>
